<% provide(:title, '編集') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_with model: @task do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
<p></p>
<p></p>
<p1>
      <%= f.label :タスク %>
      <%= f.text_field :content, class: 'form-control' %>
</p1>

<p></p>
<p2>
      <%= f.label :達成度 %>
      <%= f.number_field :達成度, class: 'form-control' %>
</p2>
<p></p>
      <%= f.submit "変更を保存する", class: "btn btn-success" %>
    <% end %>
    <br></br>

    
    <button type="link_to" class="btn btn-outline-success">戻る</button>
  </div>
</div>