<%= link_to "追加", new_task_path(session[:date]), class: "btn-square-little-rich" %>
<%= link_to "完了", tasklist_path(session[:date]), class: "btn-square-little-rich" %>

<br>
利用者ID = <%= current_user.userid %>
<br>
選択された日付 = <%= session[:date] %>


<p>未共有タスク</p>
<table border=1>
  <tr>
    <th>完了</th>
    <th width= "500">内容</th>
    <th>達成度</th>
    <th>共有状況</th>
    <th>操作</th>
  </tr>
  <% @unshared_tasks.each do |task| %>
    <tr>
      <td><%= link_to('✓', [ :finish, task], :method => :patch) %></td>
      <td width= "500"><%= task.content %></td>
      <td><%= task.achievement %>%</td>
      <td><%= task.share %></td>
      <td width= "190"><%= link_to '編集', edit_task_path(task) %> | <%= link_to('削除', task, :method => :delete, data: { confirm: '本当に削除しますか？' }) %> | <%= link_to('共有する', [ :share, task], :method => :patch) %></td>
    </tr>
  <% end %>
</table>

<br>

<p>共有中タスク</p>
<table border=1>
  <tr>
    <th>完了</th>
    <th width= "500">内容</th>
    <th>達成度</th>
    <th>共有状況</th>
    <th>操作</th>
  </tr>
  <% @shared_tasks.each do |task| %>
    <tr>
      <td><%= link_to('✓', [ :finish, task], :method => :patch) %></td>
      <td width= "500"><%= task.content %></td>
      <td><%= task.achievement %>%</td>
      <td><%= task.share %></td>
      <td width= "190"><%= link_to '編集', edit_task_path(task) %>  | <%= link_to('削除', task, :method => :delete, data: { confirm: '本当に削除しますか？' }) %> | <%= link_to('共有しない', [ :unshare, task], :method => :patch) %></td>
    </tr>
  <% end %>
</table>
