<% provide(:title, 'タスク編集') %>
<h1 class="display-4">タスク編集</h1>

<ul class="list-group" style="width: 14rem;">
  <li class="list-group-item h5">日付 : <%= session[:date] %></li>
</ul>

<br>

<p>
  <%= link_to "戻る", tasklist_path(session[:date]), class: "btn btn-success" %>
  <%= link_to "追加", new_task_path(session[:date]), class: "btn btn-success" %>
</p>

<table class="table table-striped table-success table-bordered">
  <thead>
    <tr>
      <th scope="col">完了</th>
      <th scope="col" class="w-50">内容</th>
      <th scope="col">達成度</th>
      <th scope="col">共有状況</th>
      <th scope="col" class="w-25">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to('✓', [ :finish, task], :method => :patch, class: "btn btn-success btn-sm #{ 'disabled' if task.achievement == 100}") %></td>
        <td class="w-50"><%= task.content %></td>
        <td><%= task.achievement %>%</td>
        <td>
          <% if task.share == true %>
            共有中
          <% end %>
        </td>
        <td class="w-25">
          <%= link_to '編集', edit_task_path(task), class: "btn btn-success btn-sm" %> |
          <%= link_to('削除', task, :method => :delete, class: "btn btn-success btn-sm", data: { confirm: '本当に削除しますか？' }) %> |
          <% if task.share == true %>
            <%= link_to('共有しない', [ :unshare, task], :method => :patch, class: "btn btn-success btn-sm") %>
          <% else %>
            <%= link_to('共有する', [ :share, task], :method => :patch, class: "btn btn-success btn-sm") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>