<% provide(:title, 'プロフィール') %>
<div class="row">
  <div class="col-md-4 offset-md-1">
    <div class="border border-success rounded mt-5 mb-3 pl-2">
      <b class="users mb-0 pt-1">
        <%= link_to @user.name, @user %>
      </b>
      <p class="mb-1">
        @<%= @user.uid %>
      </p>
      <div class="mb-1">
        <%= @user.introduction %>
      </div>
    </div>
    <section class="stats ml-2 mb-1">
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' if logged_in? %>
  </div>
  <div class="col-md-6">
    <div class="border border-success rounded mt-5 mb-3 pl-2">
      <h5>現在共有中のタスク</h5>
    </div> 
    <table class = "task_table mb-3">
      <tr>
        <td>日付</td>
        <td>内容</td>
        <td>達成度</td>
      </tr>
      <% @tasks.each do |task| %>
        <tr>
         <td><%= task.date %></td>
          <td><%= task.content %></td>
          <td><%= task.achievement %>%</td>
        </tr>        
      <% end %>
    </table>
    <%= will_paginate @tasks %>
  </div>
</div>