<% provide(:title, @title) %>
<div class="row">
  <div class="col-md-4 offset-md-1">
    <div class="border border-success rounded mt-5 mb-3 pl-2">
      <b class="users mb-0 pt-1">
        <%= link_to @user.name, @user %>
      </b>
      <p class="mb-1">
        @<%= @user.uid %>
      </p>
      <div class="mb-1">
        <%= @user.introduction %>
      </div>
    </div>
    <section class="stats ml-2 mb-1">
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' if logged_in? %>
  </div>
  <div class="col-md-6">
    <p class="center mt-5" id="subt">
      <%= @title %>
    </p>
    <% if @users.any? %>
      <ul class="users follow">
        <% @users.each do |user| %>
          <div class="border border-success rounded mb-3 pl-2">
            <b class="mb-0 pt-1">
              <%= link_to user.name, user %>
            </b>
            <p class="mb-1">
              @<%= user.uid %>
            </p>
          </div>
        <% end %>
      </ul>
      <%= will_paginate @users %>
    <% end %>
  </div>
</div>